body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: rgb(152, 13, 13);
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

button {
    background: black;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}
